<div class="navbar">
  <h1 class="logo">NETFLIX</h1>
  <button class="btn-lista" (click)="toggleLista()">Mi lista</button>
</div>

<div class="lista-desplegable" *ngIf="mostrarLista">
  <h2 class="seccion-titulo">Mi Selección</h2>
  <div class="movie-row">
    <div *ngFor="let p of misFavoritos" class="movie-card">
      <img [src]="p.img" [alt]="p.nombre">
      <p class="movie-name">{{p.nombre}}</p>
    </div>
  </div>
</div>

<div class="catalogo-body">
  <h2 class="seccion-titulo">Tendencias</h2>
  <div class="movie-row">
    <div *ngFor="let p of tendencias" class="movie-card">
      <a [routerLink]="['/detalle', p.id, p.nombre, p.desc, prepararLink(p.img)]">
        <img [src]="p.img" [alt]="p.nombre">
      </a>
      <p class="movie-name">{{p.nombre}}</p>
    </div>
  </div>

  <h2 class="seccion-titulo">Terror</h2>
  <div class="movie-row">
    <div *ngFor="let p of terror" class="movie-card">
      <a [routerLink]="['/detalle', p.id, p.nombre, p.desc, prepararLink(p.img)]">
        <img [src]="p.img" [alt]="p.nombre">
      </a>
      <p class="movie-name">{{p.nombre}}</p>
    </div>
  </div>

  <h2 class="seccion-titulo">Acción</h2>
  <div class="movie-row">
    <div *ngFor="let p of accion" class="movie-card">
      <a [routerLink]="['/detalle', p.id, p.nombre, p.desc, prepararLink(p.img)]">
        <img [src]="p.img" [alt]="p.nombre">
      </a>
      <p class="movie-name">{{p.nombre}}</p>
    </div>
  </div>
</div>