body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo { color: #E50914; font-size: 30px; font-weight: bold; margin: 0; }